@{
    ViewData["Title"] = "Create";
    var product = ViewBag.product;
    var product2 = ViewBag.product2;
}

<p>@ViewBag.product[0].namaProduct</p>

<br />
<br />

@foreach (var a in product)
{
    <p>@a</p>
}

@foreach (var a in product2)
{
    <p>@a</p>
}